
@{
  ViewBag.Title = "ToDoList";
}

<div class="col-12" ng-controller="ctrl">
    <div ng-init="userId= @ViewBag.Id.ToString()" />
    <div class="col-3 to-do-form">
        <textarea name="message" ng-model="Text" placeholder="Enter your task" id="" cols="30" rows="6"></textarea>
        <input type="button" value="Add to List" ng-click="AddTask()" />
    </div>
    <div class="col-6 task-container">
        <h2>Your Tasks</h2>
        <div ng-repeat="task in tasks track by $index">
            <div class=" col-10 task">
                <span>{{$index}}</span><span>{{task.taskText}}</span>
                <i class="ion-close-round" ng-click="Delete(task.taskId)"></i>
                <i class="ion-checkmark" ng-show="task.taskCompleted"></i>
                
            </div>
            <p></p>
            <p></p>
            <p></p>
        </div>      
    </div>
    <div class="col-3 id-container">
        <h3>Your Id</h3>
        <h3 class="userId" >@ViewBag.Id</h3>
        <input type="button" ng-click="Logout()" value="Logout" />
    </div>
</div>